* {
    box-sizing: border-box;
}

body {
    font-family: Arial, Helvetica, sans-serif;
    font-size:  130%;
}

header {
    font-weight: bolder;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px;
    font-size: 22px;
}

.content {
    margin: 70px auto 0 auto;
    max-width: 700px;
    font-size: larger;
}

a {
    text-decoration: none;
}

.start {
    text-align: center;
}

.button {
    font-size: 25px;
    color: white;
    background-color: indigo;
    padding: 7px 20px;
    border-radius: 8px;
    width: fit-content;
    margin: 10px 0;
}

.button:hover {
    background-color: blueviolet;
}

.hidden {
    display: none;
}

.high-scores:hover {
    color:blueviolet;
}

#choices-list {
    padding: 0px;
}

li {
    list-style-position: inside;
    padding: 5px;
}

#result {
    color: gray;
    font-style: italic;
    border-top: 1px solid gray;
    padding: 10px;
}

input {
    font-size: larger;
}

#score-list {
    padding: 0px;
}

#score-list li:nth-child(odd) {
    background-color: rgb(221, 199, 221);
}